@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Martel Sans", sans-serif;
}

body {
  background-color: black;
}
.main {
  background-image: url(./Assets/Images/netflix-background-image.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 80vh;
  position: relative;
}

.main .box {
  height: 80vh;
  width: 100%;
  opacity: 0.7;
  background-color: black;
  position: absolute;
  top: 0;
}

nav {
  max-width: 75vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

nav img {
  color: red;
  width: 125px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.box {
  color: white;
}

.hero {
  font-family: "Martel Sans", sans-serif;
  height: 473px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 20px;
}

.hero .lg {
  font-weight: 900;
  font-size: 48px;
  line-height: 70px;
  text-align: center;
}
/* #ol {
  font-weight: 900;
  font-size: 48px;
} */

#offer {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0.75rem;
  text-align: center;
}

#cta {
  font-size: 20px;
  text-align: center;
}

.seperator {
  height: 0.2rem;
  background-color: rgb(82, 82, 82);
}
.btn {
  padding: 0.25rem 0.5rem;
  font-weight: bold;
  background-color: white;
  height: 2rem;
}

.btn-red {
  background-color: red;
  color: white;
  border: none;
  border-radius: 0.25rem;
}

.btn-red-sm {
  background-color: red;
  color: white;
  border: none;
  border-radius: 0.25rem;
  width: 4.75rem;
  font-size: 0.875rem;
}

#gs {
  height: 3.5rem;
  width: 13rem;
  font-size: 1.55rem;
  text-align: center;
  border-radius: 0.25rem;
  padding: auto;
  /* margin-top: 0.5rem; */
}

#lang {
  width: 7.75rem;
  height: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
  border-radius: 0.25rem;
  text-align: center;
  padding: auto;
  margin-right: 0.5rem;
}

#info {
  width: 23rem;
  height: 3.5rem;
  border-radius: 0.25rem;
  border: 0.5px solid rgba(255, 255, 255, 0.4);
  margin-right: 0.5rem;
  font-size: 1rem;
  text-align: start;
  background-color: rgba(23, 23, 23, 0.2);
  color: white;
  padding: 0rem 0.5rem;
  padding: auto;
}

.call-to-action {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-info {
  display: flex;
  justify-content: space-evenly;
}

.first {
  display: flex;
  justify-content: center;
  margin: auto;
  color: white;
  padding-bottom: 4rem;
}

.section-image {
  position: relative;
}
.section-image img {
  margin-top: 2rem;
  width: 50vw;
}

.section-image video {
  position: absolute;
  right: 105px;
  top: 145px;
}

.section-text {
  color: white;
  text-align: center;
  margin-top: 10rem;
  margin-left: 2rem;
}

#line1 {
  font-weight: bolder;
  font-size: 3rem;
}

#line2 {
  font-size: 1.5rem;
  gap: 0;
  font-weight: 200;
}

.second {
  display: flex;
}

.second .section-text {
  text-align: center;
  margin-right: 5rem;
}

h2 {
  width: 80vw;
  color: white;
  text-align: start;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.faqbox {
  display: flex;
  flex-direction: row;
  width: 70vw;
  margin: auto;
  margin-bottom: 0.5rem;
  background-color: rgb(45, 45, 45);
  color: white;
  padding: 1rem;
  justify-content: space-between;
  font-size: 1.5rem;
  cursor: pointer;
}

.faqbox:hover {
  background-color: rgb(65, 65, 65);
}

h3 {
  color: white;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.final {
  display: flex;
  width: 65vw;
  margin: auto;
  align-items: center;
  margin-bottom: 2rem;
  /* margin-top: 4rem; */
}

#info2 {
  width: 40rem;
  height: 3.5rem;
  border-radius: 0.25rem;
  border: 0.5px solid rgba(255, 255, 255, 0.4);
  font-size: 1rem;
  text-align: start;
  background-color: rgba(23, 23, 23, 0.2);
  color: white;
}

#gs2 {
  height: 3.5rem;
  width: 13rem;
  font-size: 1.55rem;
  text-align: center;
  border-radius: 0.25rem;
  margin-left: 0;
}

.footer {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  margin: auto;
}

h4 {
  color: white;
  margin-left: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 3rem;
  text-align: left;
}

.links a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.875rem;
  margin-right: 10rem;
}

.special-button {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 7rem;
  padding-bottom: 3rem;
}

.final-text {
  display: flex;
  flex-direction: column;
  margin-left: 7rem;
}
.final-text div {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  margin-bottom: 1rem;
}
.final-text p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  padding-bottom: 3rem;
}

#phone {
  text-decoration: underline;
}
